body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  
}

.mainHeader {
  width: 100%;
  height: 528px;
  background-color: #FFCB64;
  /* background-image: url(./assets/grid.svg); */
  transition: 0.3s all ease-out;
  overflow: hidden;
}

.grid1 {
  transform: scale(1);
  transition: 0.3s all ease-out;
}

.grid2 {
  transform: scale(1.5);
  transition: 0.3s all ease-out;
}

.grid3 {
  transform: scale(3);
  transition: 0.3s all ease-out;
}

.illustration {
  width: 90vw;
  max-width: 1080px;
  height: 360px;
  /* z-index: 2; */
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px #19191940; 

  position: absolute;
  top: 56px;
  left: 50%;

  
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #FFF6E9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffddad' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.jigsaw-con{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1080px;
  /* border: 1px solid black; */
  text-align: center;
}

.hotspot-con {
  width: 60%;
  height: 56px;
  position: absolute;
  left: 20%;
  top: 356px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}


.navLink {
  background-color: #FFF6E9;
  padding: 8px;
  border-radius: 8px;
  display: inline;
  font-size: 24px;
  font-weight: 100;
  margin: 12px;
  box-shadow: 0 2px rgb(255, 233, 201);
  position: relative;
  z-index: 5;
}

.navLink:hover {
  /* opacity: 0.8; */
  cursor: pointer;
  background-color: #2b2b2b;
  color: whitesmoke;
  box-shadow: none;
}

.tsb:hover {
  cursor: pointer;
}

.istio:hover {
  cursor: pointer;
}

.envoy:hover {
  cursor: pointer;
}

.graph{
  position: absolute;
  top: -49px;
  left: -86px;
  pointer-events: none;
}

.plane-Button-Con{
  width: 240px;
  height:36px;
  /* border: 1px solid black; */
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}

.plane-Button {
  width: 36px;
  height: 36px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-size: 20pt;
  font-weight: thin;
  background-color: #FF6347;
  border-radius: 50%;
  box-sizing: border-box;
}

.plane-Button:hover {
  background-color: #FFCB64;
  border: 4px solid #FF6347;
  box-sizing: border-box;
  cursor: pointer;
}

.plane-Button-pressed {
  width: 36px;
  height: 36px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-size: 20pt;
  font-weight: thin;
  background-color: #FFF6E9;
  border-radius: 50%;
  border: 4px solid #FF6347;
  box-sizing: border-box;
}



.plane-Button-pressed:hover{
  cursor: pointer;
}

.button-bar {
  width: 90%;
  height: 8px;
  position: absolute;
  top: 14px;
  left: 5%;
  background-color: #FF6347;
  z-index: -1;
}

.content-con{
  width: 80vw;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  left: 10%;
  top: 0;
  background-color: #f2f2f2;
  /* border: 1px solid black; */
}

.infotype{
  /* border: 1px solid #FFCB64; */
  border-radius: 16px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
  box-sizing: border-box;
}

.infotype-caption {
  width: 100%;
  text-align: center;
  font-size: larger;
  border-bottom: 1px solid darkgrey;
  color: darkgrey;
}

.info-con{
  width: 30%;
  min-width: 120px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: whitesmoke;
  box-shadow: 0 6px lightgray;
  font-weight: 100;
  display: flex;
  justify-content: space-evenly;
  border-top:white 2px solid;
  border:1px solid black;
  margin-bottom: 16px;

}
 .info-con:hover {
  width: 30%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px darkgray;
  cursor: pointer;
  margin-bottom: 16px;
 }

 .info{
   text-decoration: none;
 }

 .info-title{
   margin-right: 16px;
 }

 .info-overview{
  margin-right: 16px;
}

 .info-img img{
   border-radius: 16px;
   margin-right: 16px;
 }

 .info-img{
  align-self: center;
 }

 .fractal-close {
   transform: scale(0.1);
 }

 .fractal-open {
  transform: scale(1);
}

.fractal2-close {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  transform-origin: right center;
}

.fractal2-open {
  stroke-dasharray: 100%;
  stroke-dashoffset: 0%;
 transition: ease-in-out all 0.5s;
}