body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f2f2f2; */
  
}

.mainHeader {
  width: 100%;
  height: 528px;
  background-color: #000;
  /* background-image: url(./assets/grid.svg); */
  transition: 0.3s all ease-out;
  overflow: hidden;
}

.grid1 {
  transform: scale(1);
  transition: 0.3s all ease-out;
}

.grid2 {
  transform: scale(1.2);
  transition: 0.3s all ease-out;
}

.grid3 {
  transform: scale(1.8);
  transition: 0.3s all ease-out;
}

.illustration {
  width: 90vw;
  max-width: 1080px;
  height: 360px;
  /* z-index: 2; */
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px #19191940; 

  position: absolute;
  top: 56px;
  left: 50%;

  
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #2b2b2b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.jigsaw-con{
  position: absolute;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1080px;
  /* border: 1px solid black; */
  text-align: center;
}

.hotspot-con {
  width: 60%;
  height: 56px;
  position: absolute;
  left: 20%;
  top: 356px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}


.navLink {
  background-color: #FFF6E9;
  padding: 8px;
  border-radius: 8px;
  display: inline;
  font-size: 24px;
  font-weight: 100;
  margin: 12px;
  box-shadow: 0 2px rgb(255, 233, 201);
  position: relative;
  z-index: 5;
}

.navLink:hover {
  /* opacity: 0.8; */
  cursor: pointer;
  background-color: #2b2b2b;
  color: whitesmoke;
  box-shadow: none;
}

.tsb:hover {
  cursor: pointer;
}

.istio:hover {
  cursor: pointer;
}

.envoy:hover {
  cursor: pointer;
}

.graph{
  position: absolute;
  top: -49px;
  left: -86px;
  pointer-events: none;
}

.infotype-con {
  border-bottom: 1px solid black;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 456px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  overflow-x: scroll;

}

.infotype-con::-webkit-scrollbar {
  display: none;
}

.infotype {
  font-size: 18pt;
  border: none;
  outline: none;
  /* border-bottom: 1px solid black; */
  font-weight: 150;
  box-sizing: border-box;
  background-color: white;
  margin-inline: 12px;
  border-radius: 2px 2px 0 0;
}

.infotype-on {
  font-size: 18pt;
  border: none;
  outline:none;
  border-bottom: 4px solid #ff590d;
  font-weight: 150;
  background-color: white;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  margin-inline: 12px;
}

.infotype:hover {
  background-color: #000;
  color: #fff;
}

.content-con{
  width: 120%;
  min-height: 400px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  left: -10%;
  top: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info-con{
  width: 360px;
  min-width: 256px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 0 6px lightgray;
  font-weight: 100;
  display: flex;
  justify-content: space-evenly;
  border:1px solid black;
  margin-bottom: 16px;
  margin-inline: 8px;

}
 .info-con:hover {
  width: 360px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px darkgray;
  cursor: pointer;
  margin-bottom: 16px;
 }

 .info-con button {
   border: none;
   background-color: whitesmoke;
   display: flex;
   flex-direction: row;
 }

 .info-con a {
   text-decoration: none;
 }

 .info{
   width: 80%;
   position: relative;
   left: 10% ;
   display: flex;
   flex-direction: column;
   /* border: 1px solid black; */
 }

 .info-title{
   color: #000;
   font-size: 16pt;
   margin: auto 0;
   text-align: left;
   /* border: 1px solid black; */
 }

 .info-title-on{
  color: #ff590d;
  font-size: 16pt;
  margin: auto 0;
  text-align: left;
  /* border: 1px solid black; */
}

 .info-extra {
   width: 100%;
   height: 36px;
   /* border: 1px solid black; */
   text-align: left;
   display: flex;
   flex-direction: row;
   color: black;
 }

 .info-extra img {
   width: 18px;
   height: auto;
   margin-inline-end: 8px;
   /* border: 1px solid black; */
 }

 .info-overview{
  color: #000;
  width: 100%;
  text-align: left;
  /* border: 1px solid black; */
}

 .info-img img{
   border-radius: 8px;
   width: 100%;
   margin: 0;
   padding: 0;
 }

 .info-img{
  align-self: center;
 }

 .fractal-close {
   transform: scale(0.1);
 }

 .fractal-open {
  transform: scale(1);
}

.fractal2-close {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  transform-origin: right center;
}

.fractal2-open {
  stroke-dasharray: 100%;
  stroke-dashoffset: 0%;
 transition: ease-in-out all 0.5s;
}