body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  
}

.mainHeader {
  width: 100%;
  height: 356px;
  background-color: #FFCB64;
}

.illustration {
  width: 90vw;
  max-width: 1080px;
  height: 360px;
  z-index: 2;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px #19191940; 
  position: absolute;
  top: 56px;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(-50%);
  background-color: #FFF6E9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffddad' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.navLink {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  display: inline;
  font-size: 32px;
  font-weight: 100;
  margin: 12px;
  box-shadow: 0 2px 2px rgb(245, 235, 222);
}

.navLink:hover {
  /* opacity: 0.8; */
  cursor: pointer;
  background-color: #430C60;
  color: whitesmoke;
  box-shadow: none;
}

.TSB {
  position: absolute;
  top: 81px;
  left: 384px;
}

.TSB:hover {
  cursor: pointer;
}

.Istio {
  position: absolute;
  top: 216px;
  left: 384px;
}

.Istio:hover {
  cursor: pointer;
}

.Envoy {
  position: absolute;
  top: 216px;
  left: 532px;
}

.Envoy:hover {
  cursor: pointer;
}

.plane-Button-Con{
  width: 80vw;
  max-width: 1000px;
  height: 64px;
  /* border: 1px solid black; */
  position: absolute;
  top: 408px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}

.plane-Button {
  width: 33%;
  height: 64px;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-size: 20pt;
  font-weight: thin;
  box-sizing: border-box;
  background-color: #FF6347;
  border-radius: 0 0 8px 8px;
}

.plane-Button:hover {
  background-color: #430C60;
  cursor: pointer;
}

.plane-Button-pressed {
  width: 33%;
  height: 64px;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-size: 20pt;
  font-weight: thin;
  box-sizing: border-box;
  background-color: #430C60;
  border-radius: 0 0 8px 8px;
  transform: translateY(8px);
}

.plane-Button-pressed:hover{
  cursor: pointer;
}

.infotype-background{
  width: 100%;
  height: 240px;
  background-color: #FFF6E9;
  z-index: -4;
  border-bottom: 1px solid darkgray;
  box-sizing: border-box;
}

.infotype-con{
  width: 90vw;
  max-width: 1140px;
  height: 56px;
  position: absolute;
  top: 488px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.infotype {
  width: 144px;
  height: 44px;
  text-align: center;
  margin: 24px;
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 14pt;
  margin-top: 12px;
  font-weight: thin;
  box-sizing: border-box;
  background-color: #FF6347;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infotype:hover {
  background-color: #430C60;
  cursor: pointer;
  color: whitesmoke;
}

.content-con{
  width: 65vw;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  top: 240px;
  transform: translateX(-24%);
  background-color: #f2f2f2;
  z-index: -1;
}

.info-con{
  width: 80%;
  padding: 8px;
  margin-block-start: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: whitesmoke;
  box-shadow: 0 6px 6px lightgray;
  font-weight: 100;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  border-top:white 2px solid;
}
 .info-con:hover {
  width: 80%;
  padding: 8px;
  margin-block-start: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px darkgray;
  cursor: pointer;
  text-decoration: none;
 }

 .info-title{
   margin-right: 16px;
 }

 .info-overview{
  margin-right: 16px;
}

 .info-img img{
   border-radius: 16px;
   margin-right: 16px;
 }

 .info-img{
  align-self: center;
 }