body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    /* background-color: #f2f2f2; */
}

@font-face {
    font-family: circular;
    src: url(./assets/CircularStd-Bold.woff2);
}

@font-face {
    font-family: barlow;
    src: url(./assets/Barlow-Medium.ttf);
}

.header {
    width: 100%;
    height: 60px;
    background-color: #00000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    color: #fff;
    transition: all 0.6s ease;
}

.header-scroll {
    width: 100%;
    height: 60px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    color: #fff;
    transition: all 0.3s ease;
}

.navContainer {
    max-width: 1180px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: #fff;
    /* font-family: barlow, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.logo-holder {
    width: 50%;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}

.header img {
    height: 36px;
}

.header img:hover {
    cursor: pointer;
}

.header-scroll img {
    height: 36px;
}

.header-scroll img:hover {
    cursor: pointer;
}

.links-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin-top: 8px;
    font-size: 12px;
}
.links-holder button {
    border: 0;
    width: 120px;
    height: 42px;
    border-radius: 8px;
    font-size: 12px;
    /* font-family: barlow, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    border: #f05623 solid 1px;
    background-color: #fff;
}

.links-holder button:hover {
    background-color: #f05623;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.links-holder a {
    text-decoration: none;
    color: #fff;
}

.links {
    margin-right: 28px;
    margin-left: 28px;
    box-sizing: border-box;
    padding-bottom: 2px;
}

.links:hover {
    cursor: pointer;
    border-bottom: #f05623 2px solid;
}

.hover-area {
    height: 60px;
}

.dropdown {
    width: 200px;
    background-color: #fff;
    color: #000717;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 2px;
    margin-top: 8px;
    box-shadow: 4px 4px 4px 4px #00000020;
}

.dropdown p:hover {
    color: #f05623;
    cursor: pointer;
}

.product-drop {
    position: absolute;
    left: calc(50% - 4px);
}

.product-drop a {
    text-decoration: none;
    color: #000717;
}

.product-drop p {
    margin-right: 16px;
}

.product-drop-hide {
    display: none;
}

.learn-drop {
    position: absolute;
    left: calc(50% + 268px);
}

.learn-drop a {
    text-decoration: none;
    color: #000717;
}

.learn-drop-hide {
    display: none;
}

.company-drop {
    position: absolute;
    left: calc(50% + 372px);
}

.company-drop a {
    text-decoration: none;
    color: #000717;
}

.company-drop-hide {
    display: none;
}

@media screen and (max-width: 640px) {
    .footer {
        height: 1200px;
        width: 100%;
        background-color: #000717;
        position: relative;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        color: #fff;
    }

    .footer::before {
        content: "";
        display: block;
        background-color: #000717;
        width: 200%;
        height: 1200px;
        position: absolute;
        left: -200%;
    }
    
    .footer::after {
        content: "";
        display: block;
        background-color: #000717;
        width: 200%;
        height: 1200px;
        position: absolute;
        top: 0;
        right: -200%;
    }
}

@media screen and (min-width: 641px){
    .footer {
        width: 100%;
        height: 500px;
        background-color: #000717;
        position: relative;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        color: #fff;
    }

    .footer::before {
        content: "";
        display: block;
        background-color: #000717;
        width: 200%;
        height: 500px;
        position: absolute;
        left: -200%;
    }
    
    .footer::after {
        content: "";
        display: block;
        background-color: #000717;
        width: 200%;
        height: 500px;
        position: absolute;
        top: 0;
        right: -200%;
    }
}


.footContainer {
    width: 100%;
    max-width: 1080px;
    position: relative;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid #f05623; */
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 64px;
    border-bottom: 1px solid #f05623;
}

.footer-blocks {
    width: 240px;
    text-align: left;
    margin-right: 24px;
    margin-bottom: 8px;
}

.footer-blocks img {
    margin-top: 20px;
    height: 36px;
    align-self: flex-start;
}

.footer-blocks a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 16px;
}

.social-links img {
    height: 20px;
    margin-right: 16px;
}

.social-links img:hover {
    cursor: pointer;
}

.footlink {
    padding-bottom: 2px;
    margin: 12px 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

.footlink:hover {
    color: #f05623;
}

.footHigh {
    font-size: 20px;
    font-weight: 800;
}

.policies {
    width: 100%;
    position: relative;
    top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    font-size: 12px;
    color: #f05623;
}

.policy-links {
    display: flex;
    flex-direction: row;
}

.policy-links p {
    margin-right: 4px;
    margin-left: 4px;
}

.policy-links a {
    color: white;
}

.policy-links a:hover {
    cursor: pointer;
    color: darkgrey;
}


.mainHeader {
    width: 100%;
    height: 528px;
    background-color: #00030a;
    /* background-image: url(./assets/grid.svg); */
    transition: 0.3s all ease-out;
    overflow: hidden;
    /* border: 1px solid #f05623; */
}

.grid1 {
    transform: scale(1);
    transition: 0.3s all ease-out;
}

.grid2 {
    transform: scale(1.2);
    transition: 0.3s all ease-out;
}

.grid3 {
    transform: scale(1.8);
    transition: 0.3s all ease-out;
}

.illustration {
    width: 90vw;
    max-width: 1080px;
    height: 360px;
    /* z-index: 2; */
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 4px #19191940;

    position: absolute;
    top: 64px;
    left: 50%;

    transform: translateX(-50%);
    overflow: hidden;
    background-color: #000717;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.jigsaw-con {
    position: absolute;
    top: 102px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1080px;
    /* border: 1px solid black; */
    text-align: center;
}

.hotspot-con {
    width: 60%;
    height: 56px;
    position: absolute;
    left: 20%;
    top: 356px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.navLink {
    background-color: #fff6e9;
    padding: 8px;
    border-radius: 8px;
    display: inline;
    font-size: 24px;
    font-weight: 100;
    margin: 12px;
    box-shadow: 0 2px rgb(255, 233, 201);
    position: relative;
    z-index: 5;
}

.navLink:hover {
    /* opacity: 0.8; */
    cursor: pointer;
    background-color: #2b2b2b;
    color: whitesmoke;
    box-shadow: none;
}

.tsb:hover {
    cursor: pointer;
}

.istio:hover {
    cursor: pointer;
}

.envoy:hover {
    cursor: pointer;
}

.app-name {
    position: absolute;
    top: 332px;
    font-family: circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 40px;
}

.app-name-off {
    position: absolute;
    top: 332px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 40px;
    visibility: hidden;
}

@media screen and (min-width: 721px) {
    .app-name {
        font-size: 40px;
    }
}

@media screen and (max-width: 720px) {
    .graph {
        visibility: hidden;
    }

    .app-name {
        position: absolute;
        top: 320px;
        font-size: 32px;
    }
}

.graph {
    position: absolute;
    top: -49px;
    left: -86px;
    pointer-events: none;
}

.infotype-con {
    border-bottom: 1px solid black;
    width: 100%;
    height: 48px;
    position: relative;
    top: 180px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    overflow-x: scroll;
}

.infotype-con::-webkit-scrollbar {
    display: none;
}

.infotype {
    font-size: 18pt;
    border: none;
    outline: none;
    /* border-bottom: 1px solid black; */
    font-weight: 150;
    box-sizing: border-box;
    background-color: white;
    margin-inline: 12px;
    border-radius: 2px 2px 0 0;
}

.infotype-on {
    font-size: 18pt;
    border: none;
    outline: none;
    border-bottom: 4px solid #ff590d;
    font-weight: 150;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;
    margin-inline: 12px;
}

.infotype:hover {
    background-color: #000;
    color: #fff;
}

.content-con {
    width: 120%;
    min-height: 400px;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
    left: -10%;
    top: 200px;
    /* border: 1px solid #f05623; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info-con {
    width: 360px;
    min-width: 256px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 0 6px lightgray;
    font-weight: 100;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin-bottom: 16px;
    margin-inline: 8px;
}
.info-con:hover {
    width: 360px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px darkgray;
    cursor: pointer;
    margin-bottom: 16px;
}

.info-con button {
    border: none;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.info-con a {
    text-decoration: none;
}

.info {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.info-title {
    color: #000;
    font-family: circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16pt;
    margin: 0 0;
    text-align: left;
    /* border: 1px solid black; */
}

.info-title-on {
    color: #ff590d;
    font-size: 16pt;
    font-family: circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: auto 0;
    text-align: left;
    /* border: 1px solid black; */
}

.info-extra {
    width: 100%;
    height: 36px;
    /* border: 1px solid black; */
    text-align: left;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.info-extra img {
    width: 18px;
    height: auto;
    margin-inline-end: 8px;
    /* border: 1px solid black; */
}

.info-overview {
    color: #000;
    font-weight: 200;
    font-size: 14px;
    width: 100%;
    text-align: left;
    font-family: barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* border: 1px solid black; */
}

.info-img img {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.info-img {
    /* align-self: center; */
    filter: grayscale(100%);
}

.info-img-on img {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.info-img-on {
    filter: grayscale(0);
}

.fractal-close {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transform-origin: right center;
    transition: ease-in-out all 0.5s;
}

.fractal-open {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    transition: ease-in-out all 0.5s;
}

.fractal2-close {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transform-origin: right center;
    transition: ease-in-out all 0.5s;
}

.fractal2-open {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    transition: ease-in-out all 0.5s;
}

.reset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 16px;
    border: none;
    background-color: #fff6e9;
    text-align: center;

    position: absolute;
    top: 340px;
    left: 50%;
    transition: 0.3s all ease-out;
    transform: translateX(-50%);
}

.reset-off {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 12px;
    border: none;
    background-color: #fff6e9;
    text-align: center;

    position: absolute;
    top: 340px;
    left: 50%;
    visibility: hidden;
}

.reset img {
    width: 28px;
    height: 28px;
}

.reset:hover {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 12px;
    border: none;
    background-color: #ff590d;
    text-align: center;

    position: absolute;
    top: 340px;
    left: 50%;
    transition: 0.3s all ease-out;
    transform: translateX(-50%) rotatez(180deg);
}
